/* Create a centered, dark-themed container */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #333;
}

.container {
    width: 350px;
    height: 500px;
    background: #333;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4), -10px 20px 20px 0 rgba(0, 0, 0, 0.4), 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}